/*Colors */
.root {
  -primary-100: #18ad18;
  -primary-80: rgba(24, 173, 24, 0.8);
  -primary-60: rgba(24, 173, 24, 0.6);
  -primary-40: rgba(24, 173, 24, 0.4);
  -primary-10: rgba(24, 173, 24, 0.1);
  -dark-100: #1f1f1f;
  -gray-100: #303030;
  -dark-80: rgba(31, 31, 31, 0.8);
  -dark-60: rgba(31, 31, 31, 0.6);
  -dark-40: rgba(31, 31, 31, 0.4);
  -dark-10: rgba(31, 31, 31, 0.1);
  -white-100: #e2e2e2;
  -white-80: rgba(226, 226, 226, 0.8);
  -white-60: rgba(226, 226, 226, 0.6);
  -white-40: rgba(226, 226, 226, 0.4);
  -white-10: rgba(226, 226, 226, 0.1);
  -danger-100: #d43131;
  -danger-80: rgba(212, 49, 49, 0.8);
  -danger-60: rgba(212, 49, 49, 0.6);
  -danger-40: rgba(212, 49, 49, 0.4);
  -danger-10: rgba(212, 49, 49, 0.1);
  -warning-100 : #c5b41b;
  -warning-10 : rgba(197, 180, 27, 0.1);
}