@import "colors.css";
@import "globals.css";

.dashboard-box{
    -fx-spacing : 40px;
    -fx-padding : 16px;

}

.dashboard-card-container{
    -fx-spacing : 84px;
    -fx-pref-height : 120px;
}


.dashboard-card{
    -fx-border-color : -white-10;
    -fx-border-radius : 8px;
    -fx-background-radius : 14px;
}

.dashboard-card .number{
    -fx-font-size : 24px;
    -fx-fill : -primary-100;
}

.dashboard-card .indication{
    -fx-font-size : 16px;
    -fx-fill: -white-80;
}

.dashboard-card:hover{
    -fx-background-color : -white-100;
    -fx-cursor : hand;
}

.dashboard-card:hover .indication{
    -fx-fill : -dark-100;
}

.icon_container FontAwesomeIconView{
    fx-fill : -primary-100;
}

.stat-product{
    -fx-fill : -primary-100;
}

.stat-product-label{
    -fx-text-fill : -primary-100;
    -fx-background-color : -primary-10;
    -fx-border-radius : 8px;
    -fx-background-radius : 8px;
    -fx-padding : 4px 8px;
}

.stat-pie-chart-container{
    -fx-pref-width : 380px;
    -fx-pref-height : 394px;
    -fx-background-radius : 14px;
    -fx-background-color : -gray-100;

}

.stat-line-chart-container{
    -fx-pref-width : 524px;
    -fx-pref-height : 394px;
    -fx-background-radius : 14px;
    -fx-background-color : -gray-100;
}

.last-purchase{
    -fx-pref-height : 360px;
    -fx-background-color : -dark-100;

}