.table-view{
   -fx-background-color: transparent;
}

.table-view .column-header-background .filler{
    -fx-background-color : transparent;
}

.table-view .corner{
    -fx-background-color : transparent;
}

.table-view .column-header-background{
    -fx-background-color : -white-10;
    -fx-background-radius : 8px 8px 0 0;
    -fx-border-radius : 8px 8px 0 0;
/*    -fx-background-insets : 11px;
    -fx-border-insets : 0 11px 0;*/
    -fx-padding : 8px 0;
    -fx-border-color : -white-10;
}

.table-view .column-header{
    -fx-background-color : transparent;
    -fx-text-background-color : -white-100;
    -fx-font-size : 14px;
}

.table-view .table-cell {
    -fx-border-color : transparent;
    -fx-padding : 8px 4px;
    -fx-text-background-color : -white-100;
}

.table-row-cell:hover {
    -fx-background-color : -primary-10;
    -fx-text-background-color : -white-100;
}

.table-row-cell: odd{
   -fx-background-color : -white-10;
}

.table-row-cell: even{
   -fx-background-color : transparent;
}